
.align-center{
    width: 500px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: black;
    box-shadow: 0 0 40px gray;
}

.input-main input{
    border: 3px solid black;
    width: 490px;
    height: 60px;
    direction: ltr;
    font-size: 40px;
    font-weight: 300;
    outline: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.one button{
    padding: 22px 55.4px ;
}
.two button{
    padding: 22px 75px ;
}
.three button{
    padding: 22px 55px ;
}
.cut{
    border-bottom-left-radius: 25px;   
}
.cut1{
    border-bottom-right-radius: 25px;
}
button{
    background-color:black;
    color:white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    outline: none;
}
button:hover{
    background-color: #616161
    ;
}